#container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  scroll-behavior: smooth;
  overflow: scroll;
}
table {
  width: fit-content;
  border: 1px solid black;
  border-spacing: 0;
  padding: 0;
  position: relative;
}
th, td {
  padding: 2px 10px;
  position: relative;
  overflow: hidden;
}
td:focus {
  outline: none;
  background-color: #9dacc6;
}
td>br {
  display: none;
}
th:last-child {
  border-right: none;
}
th {
  font-weight: bold;
  background-color: #4472c4;
  color: white;
  border-bottom: 0.3rem solid white;
  border-right: 1px solid white;
}

tr {
  background-color: #b4c7e7;
  position: relative;
}

.sub:nth-child(6n - 2),
.sub:nth-child(6n - 1),
.sub:nth-child(6n), 
.main:nth-child(even) {
  background-color: #dae3f3;
}

.main>td:first-child,
.main>td:nth-child(2),
.sub>td:first-child
{
  border-right: 2px solid white;
}

.main>td:nth-child(2)::after,
.main>td:nth-child(3)::after,
.sub:not(:last-child)>td:nth-child(1)::after,
.sub:not(:last-child)>td:nth-child(2)::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: white;
  bottom: 0;
  left: 0;
}

tr:not(:last-child):nth-child(3n)::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: white;
  bottom: 0;
  left: 0;
}

.remove-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: fit-content;
  margin-left: 1rem;
  background-color: #4472c4;
  color: white;
  font-weight: bold;
  font-size: 2.5vmin;
  border: 0;
  outline: 0;
  padding: 1vmin;
  border-radius: 0.4rem;
  transition: 0.2s all;
  cursor: pointer;
}

.remove-btn:hover {
  background-color: red;
}

#add-btn, #save-btn {
  position: absolute;
  bottom: fit-content;
  margin-top: 1rem;
  left: 33%;
  transform: translateX(-50%);
  border: 0;
  outline: 0;
  background-color: #4472c4;
  color: white;
  font-weight: bold;
  font-size: 2.25vmin;
  height: fit-content;
  aspect-ratio: 1 / 1;
  border-radius: 1rem;
  scale: 150%;
  cursor: pointer;
  transition: 0.2s all;
}

#add-btn:hover {
  background-color: rgb(0, 194, 0);
}

#save-btn {
  left: 66%;
  overflow: hidden;
  scale: 125%;
  margin-top: 0.85rem;
  font-size: 2.5vmin;
  box-sizing: border-box;
}

#save-btn:hover {
  background-color: rgb(195, 0, 195);
}
